@import url("https://fonts.googleapis.com/css2?family=Bevan&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
 text-decoration: none;
 color: #000;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fac424;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transform: rotate(355deg);
}

.title {
  font-family: "Bevan", cursive;
  font-size: 40px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 30px 0;
}

.search button {
  cursor: pointer;
  background-color: #e13e44;
  border-color: transparent;
  padding: 10px;
}
.search input {
  width: 15%;
  padding: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.liste {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 26%;
  background-color: #fff;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

.border {
  background-color: #e13e44;
  width: 100%;
  height: 10px;
}

.card img {
  height: 200px;
  width: 50px;
}

.card h2 {
  font-size: 15px;
  text-align: center;
}

.beerPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fac424;
  height: 100vh;
  overflow: hidden;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 100%;
}

.beer {
  width: 50%;
  height: 80%;
  background-color: #fff;
  padding: 10px;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.beerImg {
  
  width: 50px;
  height: 200px;
}

.description {
  width: 80%;
}
.bottom {
  display: flex;
  justify-content: space-between;
  height: 50%;
  width: 100%;
}

.left {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
}

.rigth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.abv {
  width: 100%;
}

.food li {
 margin-left: 15px;
}

.ibu h3 {
  margin-bottom: 5px;
}

.imgGlassBeer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.imgGlass {
  padding-bottom: 20px;
  width: 200px;
  height: 200px;
}

.bottomButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beer button {
  background-color: #e13e44;
  width: 20%;
  padding: 10px 15px;
  border-color: transparent;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

