@import url("https://fonts.googleapis.com/css2?family=Bevan&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fac424;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  transform: rotate(355deg);
}

.title {
  font-family: "Bevan", cursive;
  font-size: 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.liste {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 26%;
  background-color: #fff;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

.border {
  background-color: #e13e44;
  width: 100%;
  height: 10px;
}

.card img {
  height: 200px;
  width: 50px;
}

.card h2 {
  font-size: 15px;
  text-align: center;
}

.beerPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fac424;
  height: 100vh;
  overflow: hidden;
}

.beer {
  width: 60%;
  background-color: #fff;
}
